.imagem {
  width: 100%;
  height: 200px;
  padding: 25px;
  border-radius: .75rem;
}

.imagem_info{
  width: 100%;
  height: 100%;
  padding: 50px;
  border-radius: .75rem;
}

.black {
  border: 2px solid black;
}

.blue {
  border: 2px solid #0000FF;
}

.brown {
  border: 2px solid #A52A2A;
}

.gray {
  border: 2px solid #808080;
}

.green {
  border: 2px solid #008000;
}

.pink {
  border: 2px solid #FFC0CB;
}

.purple {
  border: 2px solid #9400D3;
}

.red {
  border: 2px solid #FF0000;
}

.white {
  border: 2px solid #DCDCDC;
}

.yellow {
  border: 2px solid #FFA500;
}
